<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control', required: true %>
</div>

<div class="form-group">
  <%= f.label :gmail %>
  <%= f.email_field :gmail, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :fb_link %>
  <%= f.text_field :fb_link, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :phone %>
  <%= f.text_field :phone, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :location %>
  <%= f.text_field :location, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :ioh_url, 'IOH url' %>
  <%= f.text_field :ioh_url, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :feedback %>
  <%= f.text_area :feedback, class: 'form-control', rows: 8 %>
</div>

<div class="form-group">
  <%= f.label :speaker_school, 'School (講者自己填的)' %>
  <%= f.text_field :speaker_school, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :speaker_department, 'Department (講者自己填的)' %>
  <%= f.text_field :speaker_department, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.submit '送出', class: 'btn btn-success' %>
</div>
